
@font-face {
    font-family:'Cambria';
        src:url('fonts/CambriaRegular.ttf');
}

@font-face {
    font-family:'CambriaB';
        src:url('fonts/CambriaBold.ttf');
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
    width: 100%;
    font-family: Cambria;
    user-select: none;
}

a {
  text-decoration: none;
  color: inherit;
}
            
            a:hover{
                text-decoration: underline;
            }
            
            .active{
                text-decoration: underline;
            }

            h5{
                font-size: 1rem; 
                margin: 0;
                padding: 0;
            }
            p{
                font-size: 0.9rem;
                margin: 0;
                padding: 0;
            }
            
            .box img{
                cursor: pointer;
                display: none;
            }
            .box img:first-of-type{
                display: block;
            }
            img{
                margin: 20px 0;
                position: relative;
            }
            .header{
                position: relative;
            }
            .title{
                z-index: 100;
                position: absolute; padding: 1em 1em; top: 0;display: flex;
            }
            .nav{padding: 1em 25vw; top:0; display: flex;
            justify-content: space-around;}
            .nav a, .title a{
                margin: 1em;
            }
            .resume, .writings{
                display: none;
                padding: 4em 10em 0em 15em;
            }
            .resume div{margin-bottom: 4em;}
            .work{
                padding: 0em 7em 7em 7em;
            }
            ul{
                list-style-type: none;
            }
            .box{
                max-height: 95vh;
                position: relative;
            }
            .work > div{
                margin: 0em 5em 10vw 5em;
            }
            
            .ver{
                max-height: 90vh;
                max-width: 100% !important;
            }
            .hor{
                width: 100%;
            }

            .counter{
                height: 0;
                text-align: right;
                display: block;
            }
.hr{
                max-width: 100%;
            }
.vr{ max-width: 60vh;}
            .boxnav span{
                margin-right: 0.5em;
            }

