@font-face {
    font-family:'Cambria';
        src:url('fonts/CambriaRegular.ttf');
}

@font-face {
    font-family:'CambriaB';
        src:url('fonts/CambriaBold.ttf');
}
            html{
                font-size: 90%;
            }
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
    width: 100%;
    font-family: Cambria;
    user-select: none;
}

a {
  text-decoration: none;
  color: inherit;
}
            
            a:hover, .active{
                text-decoration: underline;
            }

            h5{
                font-size: 1rem; 
                margin: 0.5em 0em;
                padding: 0;
            }
            p{
                font-size: 0.9rem;
                margin: 0;
                padding: 0;
            }
            
            .box img{
                display: none;
            }
            .box img:first-of-type{
                display: block;
            }
              img{
                margin: 10px 0;
                position: relative;
            }
            .title{
                z-index: 100;
                position: relative; padding: 1em 2em; top: 0;display: flex;
            }
            .nav{padding: 0em 2em; top:0; display: flex;
            justify-content: space-between;}
            .nav a, .title a{
                margin: 0em;
            }
            .resume, .writings{
                display: none;
                padding: 4em;
            }
            .resume div{margin-bottom: 2em;}
            .work{
                padding: 2em;
            }
            ul{
                list-style-type: none;
padding: 0; margin: 0;
            }
            li{
                font-size: 0.9rem;
    padding-left: 2.5em;
    text-indent: -2.5em;
            }            .box{
                max-height: 95vh;
            }
            .work > div{
                margin: 2em 1em 4em 1em;
            }
            
            .ver{
                max-height: 90vh;
                max-width: 100% !important;
            }
            .hor{
                width: 100%;
            }

        
            .counter{
                height: 0;
                text-align: right;
                display: block;
            }
.hr{
                max-width: 100%;
            }
.vr{ max-width: 60vh;}
            .boxnav span{
                margin-right: 0.5em;
            }
            